<div class="navbar bg-base-100">
  <img src="assets/StockWatch.png" alt="Logo" class="logo-image" />
  <div class="navbar-nav flex-1">
    <form class="form-inline d-flex">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success btn-m my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>

  <div class="navbar-nav flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/home">Home</a></li>
      <li>
        <details id="details">
          <summary>Watchlists</summary>
          <ul class="bg-base-100 ul" style="z-index: 10;">
            <li id="li" *ngFor="let wl of watchlists"><a [routerLink]="['watchlist', wl.listId]">{{wl.listName}}</a></li>
          </ul>
        </details>
      </li>
      <li><a routerLink="/">Logout</a></li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>

