.logo-image {
    max-height: 7rem; 
    max-width: 100%; 
    margin-left: 4rem;

  }
  .btn {
    border-color: green;
     margin-left: 0.5rem;
    color: green;
  }
  
  .submenu {
    display: none;
  }
  
  .submenu.show {
    display: block;
  }
  .btn-sm {
    color: red;
  }
.latest_news{
    margin-top: 15rem;
    margin-left: 5rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 28px;
}
.card-title{
    font-size: 18px;
}

#news_date{
   margin-top: 1rem;
}
.news{
    font-size: 13.5px;
    font-weight: bolder;
}
.news_link{
    font-size: 13.5px;
}
.news_img{

}

  