.logo-image {
    max-height: 7rem; 
    max-width: 100%; 
    margin-left: 4rem;

  }
  .btn {
    border-color: green;
     margin-left: 0.5rem;
    color: green;
  }
  
  .submenu {
    display: none;
  }
  
  .submenu.show {
    display: block;
  }
  .btn-sm {
    color: red;
  }


  