.logo-image {
    max-height: 7rem; 
    max-width: 100%; 
    margin-left: 5rem;

  }
  .submenu {
    display: none;
  }
  
  .submenu.show {
    display: block;
  }
  .btn-sm {
    color: red;
  }
  
  