<div class="navbar bg-base-100">
  <div class="flex-1">
    <img src="assets/StockWatch.png" alt="Logo" class="logo-image" />
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/">Home</a></li>
      <li>
        <details>
          <summary>
            Watchlists
          </summary>
          <ul class="p-2 bg-base-100">
            <li><a routerLink="/watchlist">Watchlist 1</a></li>
            <li><a routerLink="/watchlist">Watchlist 2</a></li>
            <li><a routerLink="/watchlist">Watchlist 3</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>








  