html,
body {
  width: 100%;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  background-image: url("assets/login.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#login-container{
    margin-top: 20px;
   
}
.logo{
    height: 11rem;
}