/* Selects all elements */
*{
    margin: 0;
    padding: 0;
    /* padding and border are included in the width and height */
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Gayathri', sans-serif;
}

body{
    /* rgba(red, green, blue, alpha */
   /* background-color: rgba(218, 34, 255, 0.1); */
    background-color: #d907b9;
}

#wrapper{
    width: 90%;
    height: 100vh;
    /* to center container in the middle */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    width: 100%;
    max-width: 30rem;
    background-color: white;
    position: relative;
     padding: 10rem 0;
     box-shadow: 0 3px 3rem rgba(0, 0, 0, .1);
     border-radius: 1rem;
     z-index: 1;
}

/* create the rounded background */
.form-container::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    background: linear-gradient(to left,#f54284, purple);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    z-index: -1;
}

.form-heading{
    color: #ffffff;
    font-size: 2.5rem;
    position: absolute;
    top: 3.5rem;
    left: 10rem;
}

form{
    transform: translateX(10rem);
    padding: 2rem 0;
    background-color: #ffffff;
    border-radius: 3rem;
    box-shadow: 0 3px 3rem rgba(0,0,0, .1);
}

.input-group{
           width: 90%;
           margin: 0 auto;
           position: relative;
           display: flex;
           align-items: baseline;
}

.input-group input{ 
            position: relative;
            width: 100%;
            padding: 1rem 0;
            margin-top: .5rem;
            border: none;
            outline: none;
            font-size: 1.8rem;
            color: #fc6767;
}



   /* style icons and placeholders */

   /* icons */
.input-group > i{
             font-size: 1.4rem;
             margin-right: 1rem;
             color: purple;
}

.input-group .bar{
              position: absolute;
              left: 0;
              bottom: 0;
              background-color: rgba(0,0,0, .1);
              width: 100%;
              height: 1px;
}


.input-group .bar::before{
    /* adds lines */
      content: '';

      position: absolute;
      background-color:  #fc6767;
      width: 0;
      height: 2px;
}

.input-group input:focus + .bar::before{
              width: 100%;
}

.input-group button{
          margin: 3rem auto;
          padding: 1rem 5rem;
          background: linear-gradient(to left, #fc6767, purple);
          border: none;
          color: white;
          font-size: 1.7rem;
      
          /* rounded button corners */
          border-radius: 3rem;
}

.input-group button:focus,
.input-group button:hover{
     background: linear-gradient(to left, #fc6767, purple); 
}


.switch-login{
    text-align: center;
    
}


.switch-login a{
    text-decoration: none;
    color: #a1a1a1;
    font-size: 1.5rem;
}

.switch-login a span{
    color: #a1a1a1;
}

.switch-login a span:hover{
    padding-bottom: 2px;
    border-bottom-right-radius: 3px solid #fc6767;
   
}



/* media query */

@media only screen and (max-width: 700px){
       
    .form-container::before{
        height: 10rem;
}

/* centers the form */
    .form-heading{
         left: 50%;
         transform: translateX(-50%);
     }

     form{
         border-radius: initial;
         transform: initial;
         box-shadow: none;

     }



}

 

     
    


































