
<!-- Using pattern to set a pattern that the email address mmust match (validation) -->

<div class="backgroud-img">
<div class="login-form">
  <h2>Register</h2>
  <form (ngSubmit)="register()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" [(ngModel)]="name" required />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email" 
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
      />
    </div>
    <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
    <div class="button-container">
      <button type="submit">Register</button>
    </div>
  </form>
</div>
</div>
