.login-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 45px;
    background-color: #f4f4f4;
    border-radius: 4rem;
  }

  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
  }

  .form-group input[type="text"],
  .form-group input[type="password"],
  .form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #000000;
  }

  .error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
  }

  button[type="submit"] {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: green;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .button-container button {
    flex: 1;
    margin-right: 10px;
  }



  .password-reset {
    margin-top: 10px;
  }